.container {
  padding: 20px;

  h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;

    @media (prefers-color-scheme: dark) {
      color: #f5f5f5;
    }
  }

  .gists-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
