.gist-detail {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;

  @media (prefers-color-scheme: dark) {
    background-color: #2d2d2d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .ellipsis-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    textarea {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 8px;

    @media (max-width: 500px) {
      flex-direction: column-reverse;
      align-items: stretch;
    }

    .button-group {
      display: flex;
      justify-content: flex-end;
      gap: 8px;

      @media (max-width: 500px) {
        flex-direction: column-reverse;
        align-items: stretch;

        button {
          margin-bottom: 8px;
        }
      }
    }

  }

}
