.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;

    .mat-toolbar {
      background: inherit;

      &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }

  .theme-toggle {
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.mat-sidenav-content {
  scroll-padding-top: 64px;
}
