@use '@angular/material'as mat;


.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .table-container {
    max-width: 800px;
    min-width: 60vw;
    margin-top: 1rem;

    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60vh;
    }

    .gist-table {
      width: 100%;
      margin: 0 auto;
      border-collapse: collapse;
      border-radius: 5px;
      overflow: hidden;

      .action-column {
        width: 40px;
      }

      .trash-can {
        color: #ff4d4d;
        cursor: pointer;

        &:hover {
          color: #ff0000;
        }

        @media (prefers-color-scheme: dark) {
          color: #ff6f6f;

          &:hover {
            color: #ff4d4d;
          }
        }
      }

    }

    @media (max-width: 768px) {
      .gist-table {
        font-size: 0.9rem;
      }
    }
  }
}
