@use '@angular/material'as mat;


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  color-scheme: light dark;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: 0));
}

.snack {
  color: #FFFFFF;

  &-success {
    @include mat.snack-bar-overrides((container-color: #28a745,
      ));
  }

  &-error {
    @include mat.snack-bar-overrides((container-color: #dc3545,
      ));
  }

  &-info {
    @include mat.snack-bar-overrides((container-color: #17a2b8,
      ));
  }

  &-warning {
    @include mat.snack-bar-overrides((container-color: #ffc107,
        supporting-text-color: #212529,
      ));
  }
}
