.paginator {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 8px;

  .navigation-buttons {
    display: flex;
    gap: 8px;
  }

  @media screen and (max-width: 500px) {
    mat-form-field {
      display: none;
    }

    justify-content: center;

  }

}
